{% extends 'base.html' %}
{% block title %}
    book_list - Book Store
{% endblock %}
{% block content %}

<h1 class="title">BOOK LIST PAGE</h1>

    <table id="book_list table">
    <tr id="table_header">
        <th>TITLE</th>
        <th>AUTHOR</th>
        <th>PRICE</th>
        <th>DESCRIPTION</th>
    </tr>
    <tr class="table_content">
        <td>It Starts With Us</td>
        <td>Coleen Hoover</td>
        <td>Ksh 900</td>
        <td>contemporary romance, women's fiction</td>
    </tr>
    <tr class="table_content">
        <td>A Cedar Cove Christmas</td>
        <td>Debbie Macomber</td>
        <td>Ksh 1000</td>
        <td>(A CEDAR COVE SERIES) Christmas spirit, contemporary romance</td>
    </tr>
    <tr class="table_content">
        <td>The Lightning Thief</td>
        <td>Rick Riordan</td>
        <td>Ksh 1250</td>
        <td>(A PERCY JACKSON AND THE OLYMPIAN SERIES) Fantasy, Adventure</td>
    </tr>
    <tr class="table_content">
        <td>Jewels</td>
        <td>Danielle Steel</td>
        <td>Ksh 995</td>
        <td>Historical, Romance, Family Saga</td>
    </tr>
    <tr class="table_content">
        <td>Wizard Of Crow</td>
        <td>Ngugi Wa Thiong'o</td>
        <td>Ksh 1020</td>
        <td>Dictatorship, Globalization</td>
    </tr>
    </table>
</div>
{% endblock %}