{% extends 'base.html' %}
{% block title %}
    book_details - Order a Book
{% endblock %}
{% block content%}

<div>
  <form>
    <h1 class="title">ENTER BOOK DETAILS</h1>
    <label>Enter the title of the book</label><br>
    <input type="text"><br><br>
    <label>Enter the author of the book</label><br>
    <input type="text"><br><br>
    <label>Description</label><br>
    <input type="text"><br><br>
    <label>Enter the price of the book</label><br>
    <input type="text"><br><br>
    <a href="#"><button id="submit">ADD BOOK</button></a>
  </form>
</div>

{% endblock %}