{% extends 'base.html' %}
{% block title %}
    Contact - Contact Us
{% endblock %}
{% block content %}

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15415.047619335657!2d36.792474487158195!3d-1.2949226999999903!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f11c8824adfff%3A0xadb9908d4929ab8b!2sMaktaba%20Kuu%20-%20Kenya%20National%20Library%20Service!5e1!3m2!1sen!2ske!4v1771227605234!5m2!1sen!2ske" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<div>
  <form>
     <label> Enter your Name</label><br>
    <input type="text"><br><br>
    <label>Enter your Email</label><br>
    <input type="email"><br><br>
    <label>Enter your Suggestion(s)</label><br>
    <input type="text">
  </form>
</div>
{% endblock %}
